
<div class="tech-btm widget_social">
    <h4>Sosyal Medya Hesaplarımız</h4>
    <ul>

        <li>
            <a class="twitter" href="https://twitter.com/Miracgunes9">
                <i class="fab fa-twitter"></i>
                <span class="count"></span> Twitter 
            </a>
        </li>
        <li>
            <a class="facebook" href="https://github.com/Miracgns">
                <i class="fab fa-github"></i>
                <span class="count"></span> Github
            </a>
        </li>
        @*<li>
            <a class="facebook" href="#">
                <i class="fa bg-github"></i>

                <span class="count"></span> 
            </a>
        </li>*@

    </ul>
</div>