
@{
    ViewData["Title"] = "BlogTitleListExcel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>BlogExcel</h1>
<br />
<a href="/Admin/Blog/ExportDynamicExcelBlogList" class=" btn btn-primary">Excel Listesini indir</a>


