
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>

<h3>Burası benım yaptığım View Sayfasıdır...</h3>

<table>
    <tr>
        <th>Id</th>
        <th>Adı</th>
        <th>Departman</th>


    </tr>
    <tr>
        <td>1</td>
        <td>Efe</td>
        <td>Backend-Developer</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Mehmet</td>
        <td>Frontend-Developer</td>
    </tr>
</table>